.bookmark-container{
    position: static;
}

.bookmark__button{
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 100%;
    position: relative;
    transition: 300ms transform ease-in;
    background-color: rgba(0, 0, 0, 0.701);
}

.bookmark__button:hover{
    transition: 
    300ms transform ease-in,
    100ms background-color linear;
    background-color: rgb(0, 0, 0);
    transform: scale(1.05);
    filter: saturate(1.25)
}

.bookmark__button:active{
    transform: scale(0.95);
}

.bookmark__bookmark-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
}

